
.box {
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#main-title {
    color: darkblue;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-family: Arial, sans-serif;
    color: gray;
    font-size: 14px;
}

.box p {
    color: darkgreen;
}

.box:hover {
    background-color: lightcoral;
}
